name: build

on:
  push:

jobs:
  unique_id:
    runs-on: ubuntu-latest
    steps:
      - name: Generate unique id
        id: unique_id
        run: echo "::set-output name=id::$(uuidgen)"
    outputs:
      unique_id: ${{ steps.unique_id.outputs.id }}

  test:
    runs-on: ubuntu-latest
    needs: [unique_id]
    strategy:
      matrix:
        containers: [1, 2, 3, 4]

    steps:
      - name: Print unique id
        run: echo ${{needs.unique_id.outputs.unique_id}}
